NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="https://rated-f-freeware.github.io/CSE-445-assignment4/NationalParks.xsd"
    elementFormDefault="qualified"
    xmlns="https://rated-f-freeware.github.io/CSE-445-assignment4/NationalParks.xsd"
    xmlns:mstns="https://rated-f-freeware.github.io/CSE-445-assignment4/NationalParks.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="NationalParks" type="NationalParksType"/>
	<xs:complexType name ="NationalParksType">
		<xs:sequence>
			<xs:element name="NationalPark" type="NationalPark" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NationalPark">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Rating" type="xs:float" use="optional"/>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="Number" type="xs:string"  minOccurs="1" maxOccurs="1"/>
			<xs:element name="Street" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="City" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="State" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Zip" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="NearestAirport" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
